
<div class="title">
<h1><img src="assets/img/taskNinja.png"></h1><br/>
</div>

<!--
<div *ngIf="tasks && tasks.length > 0 then showData else hideData">
<ng-template #showData>Show Data</ng-template>
<ng-template #hideData>Hide Data</ng-template>
-->

<div *ngIf="!tasks || tasks.length === 0">
  <p class="finished" >
    Chores Complete!
  </p>
 <img class="endImage" src="assets/img/chorescomplete.gif"/>
</div>

<div *ngFor="let chore of tasks">
  <table> 
  <tr>
    <td>
      <div class="left">
        {{chore.taskName}}
      </div>
    </td>

    <td>
      <div class="center">
        <button *ngIf="chore.completed" (click)="changeStatus(chore)">
          Complete
        </button>
      </div>
    </td>

    <td>
      <div class="right">
        <button (click)="removeTask(chore)">
          [X]
        </button>
      </div>
    </td>
  </tr>

   <tr> <!--Add a div here to make the edit button toggle hide the input-->
    <button>Edit:</button> <input [(ngModel)]="chore.taskName" placeholder="editfield" />
   </tr>
  </table>
</div>

<div class="task">
  <h3 style="color:white">
   <input [(ngModel)]="question"/>
    <button (click)="addTask()">
      Add
    </button>
  </h3>
</div>

<div class="filter">
<input [(ngModel)]="filter"/><button (click)="addFilter()">Filter</button>
</div>