
<div class="title">
<h1><img src="assets/img/taskNinja.png"></h1><br/>
</div>

<!--

Notes: The "All Complete" message displays when the list is entirely empty rather than all items marked as complete.

-->


<!-- Hidden gif when list is emptied of tasks -->
<div *ngIf="!tasks || tasks.length === 0">
  <p class="finished" >
    Chores Complete!
  </p>
 <img class="endImage" src="assets/img/chorescomplete.gif"/>
</div>

<!-- -->
<div *ngFor="let chore of tasks">
  <table> 
    <div class="metal">
      <tr>
        <td>
          <div class="left">
            {{chore.taskName}}
          </div>
        </td>
<!---->
      <td>
        <div class="center">
          <button class="complete" *ngIf="chore.completed" (click)="changeStatus(chore)">
            Complete
          </button>
          <div *ngIf="!chore.completed">
            <img class="stamp" src="assets/img/checkmark.png"/>
            </div>
        </div>
      </td>
<!---->
      <td>
        <div class="right">
          <button class="complete" (click)="removeTask(chore)">
            [X]
          </button>
        </div>
      </td>
    </tr>
  </div>
<!---->
  <div class="metal">
    <tr>
      <button class="complete" (click)="toggleEdit(chore)">Edit Task</button> 
       <div class="edit" *ngIf="chore.editmode">
         <input [(ngModel)]="chore.taskName" placeholder="editfield" />
       </div>
    </tr>
  </div>
  </table>
</div>
<!---->
<div class="task">
  <h3 style="color:white">
   <input [(ngModel)]="question"/>
    <button class="complete" (click)="addTask()">
      Add
    </button>
  </h3>
</div>
<!---->
<div class="filter">
<input [(ngModel)]="filter"/><button class="complete" (click)="addFilter()">Filter</button>
</div>